<div class="sm:col-span-3 hidden md:block">
  <div class="sticky top-0">
    <div class="rounded-md shadow-lg bg-white p-4">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">Shortcut</h2>
      <ul class="space-y-2">
        <li>
          <a
            href="#"
            class="block px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-100"
            >Friends</a
          >
        </li>
        <li>
          <a
            href="/<%= userId %>/profile"
            class="block px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-100"
            >Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
